{% extends "layout.html" %}
{% block content %}
<div class="main-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga temporibus ab totam maxime non,
    officiis ullam dolorum libero. Modi vel minus, odit doloribus cupiditate veniam voluptas eius optio molestiae
    aperiam.
    Possimus aut reprehenderit necessitatibus praesentium quis amet et, deserunt impedit consectetur porro. Earum,
    consequatur pariatur? Enim possimus illo tenetur architecto laudantium cupiditate quia praesentium ab. Repellendus
    mollitia quisquam distinctio aperiam!
    Vel dolores deserunt tenetur laboriosam? Laborum, cupiditate sequi distinctio vitae nesciunt, dicta facere
    perferendis corporis quaerat sed in esse ipsa veritatis quasi quo nihil, iusto vel? Fugiat explicabo suscipit
    debitis.
    Dolorem esse reiciendis possimus laboriosam ullam debitis, fugiat incidunt libero officiis quos dignissimos
    perferendis, modi doloribus quidem quasi accusamus molestiae velit nobis tempora fuga. Perspiciatis vel sint enim
    laudantium non.</div>
{% endblock content %}